.rm__cm__sidebar__link__accent.active{
    background: #f4bd0e;
    border-radius: 8px;
    color: #101924;
    padding: 6px;
    width: 100%;
}

.rm__cm__sidebar__link__total{
    border: solid 1px rgba($color: #6e82a5, $alpha: 0.3);
    box-sizing: border-box;
    border-radius: 2px;
    border-width: 1px;
    margin-left: auto;
    padding: 2px;
}